services:
  renovate:
    image: ghcr.io/renovatebot/renovate:37.67.3@sha256:44fa862605e4eb2657c081132262edc951adad8d4610cd12cac644dcd9a8310f
    environment:
      GITHUB_COM_TOKEN: ${RENOVATE_TOKEN}
      LOG_LEVEL: ${LOG_LEVEL:-info}
      RENOVATE_CONFIG_FILE: /opt/renovate/config.json
      RENOVATE_DRY_RUN: ${RENOVATE_DRY_RUN:-full}
      RENOVATE_REPOSITORIES: ${RENOVATE_REPOSITORIES:-["zephyros-dev/media-server"]}
      RENOVATE_TOKEN: ${RENOVATE_TOKEN}
    volumes:
      - ./config.json:/opt/renovate/config.json:ro
      # The .git-credentials file format can be found here:
      # https://git-scm.com/docs/git-credential-store#_storage_format
      - ./.decrypted.git-credentials:/home/ubuntu/.git-credentials:ro
      - ./.gitconfig:/home/ubuntu/.gitconfig:ro
