services:
  renovate:
    image: ghcr.io/renovatebot/renovate:43.4.3@sha256:682460e725c351404fa7eeba0930c092f86cbae7bdd82eed3f1a4dacf0887824
    environment:
      GITHUB_COM_TOKEN: ${RENOVATE_TOKEN}
      LOG_LEVEL: ${LOG_LEVEL:-info}
      RENOVATE_CONFIG_FILE: /opt/renovate/config.json
      RENOVATE_DRY_RUN: ${RENOVATE_DRY_RUN:-full}
      RENOVATE_REPOSITORIES: ${RENOVATE_REPOSITORIES:-["zephyros-dev/media-server"]}
      RENOVATE_TOKEN: ${RENOVATE_TOKEN} # https://docs.renovatebot.com/modules/platform/github/#running-using-a-fine-grained-token
    privileged: true
    volumes:
      - ./config.json:/opt/renovate/config.json:ro
      # The .git-credentials file format can be found here:
      # https://git-scm.com/docs/git-credential-store#_storage_format
      - ./.decrypted.git-credentials:/home/ubuntu/.git-credentials:ro
      - ./.gitconfig:/home/ubuntu/.gitconfig:ro
