- name: Setup networking
  ansible.builtin.import_tasks: system/network.yaml
  tags: network

- name: Security hardening
  ansible.builtin.import_tasks: system/hardening.yaml
  become: true
  tags: hardening
  when: ansible_user != "root"

- name: Install packages
  ansible.builtin.import_tasks: system/packages.yaml
  tags: packages

- name: Setup ansible dependencies
  ansible.builtin.import_tasks: system/ansible.yaml
  tags: ansible

- name: Setup restic
  ansible.builtin.import_tasks: system/restic.yaml
  tags: restic

- name: Setup storage mounts
  ansible.builtin.import_tasks: system/mount.yaml
  tags: mount

- name: Setup systemd
  tags: systemd
  block:
    - name: Check if user is lingering
      ansible.builtin.stat:
        path: /var/lib/systemd/linger/{{ ansible_user }}
      register: user_lingering
    - name: Enable lingering if neccessary
      ansible.builtin.command:
        cmd: loginctl enable-linger {{ ansible_user }}
      changed_when: false
      when: not user_lingering.stat.exists
    - name: Setup systemd services
      ansible.builtin.include_tasks:
        file: systemd.yaml
        apply:
          tags: systemd
      loop_control:
        loop_var: systemd_loop_var
      vars:
        systemd_name: "{{ systemd_loop_var.name }}"
        systemd_become: "{{ systemd_loop_var.become | default(false) }}"
        systemd_state: "{{ systemd_loop_var.state | default('started') }}"
        systemd_schedule: "{{ systemd_loop_var.schedule | default('') }}"
      loop:
        - name: shutdown
          schedule: "00:00:00"
          become: true
        - name: podman-prune
          schedule: Sat 19:00:00
        - name: add-executable
          schedule: "20:00:00"
        - name: mergerfs-directory
          schedule: "*:00:00"

- name: Setup mergerfs_directory service
  ansible.builtin.import_tasks: user/mergerfs_directory.yaml
  tags: mergerfs_directory

- name: Setup snapraid
  ansible.builtin.import_tasks: system/snapraid.yaml

- name: Setup nvidia driver
  when: ansible_pkg_mgr != "atomic_container"
  ansible.builtin.import_tasks: system/nvidia.yaml
  tags: nvidia

- name: Install netdata
  when: ansible_pkg_mgr != "atomic_container"
  ansible.builtin.import_tasks: system/netdata.yaml
  tags: netdata

- name: Miscellaneous settings
  ansible.builtin.import_tasks: system/misc.yaml
  tags: misc
