- name: Setup network
  tags: network
  become: true
  block:
    - name: Set a hostname
      ansible.builtin.hostname:
        name: "{{ specificed_hostname }}"
        use: systemd

    - name: Create master bridge
      community.general.nmcli:
        type: bridge
        conn_name: bridge0
        addr_gen_mode6: eui64
        state: present

    - name: Set ethernet interface as slave to master bridge
      community.general.nmcli:
        type: bridge-slave
        conn_name: "{{ physical_interface }}"
        master: bridge0
        hairpin: false
        state: present

    - name: Setup firewall traffic for services
      ansible.posix.firewalld:
        service: "{{ item }}"
        permanent: true
        state: enabled
        immediate: true
      loop:
        - http
        - http3
        - https
        - samba
        - syncthing
        - transmission-client

    - name: Setup local domain for staging server
      when: ansible_hostname == "staging"
      sdorra.porkbun.porkbun_record:
        api_key: "{{ porkbun_api_key }}"
        secret_api_key: "{{ porkbun_api_secret_key }}"
        domain: "{{ root_domain }}"
        name: "*.staging"
        record_type: A
        content: "{{ ansible_default_ipv4.address }}"
        state: present
