[submodule "submodules/snapraid-btrfs"]
	path = submodules/snapraid-btrfs
	url = https://github.com/automorphism88/snapraid-btrfs
	branch = master
[submodule "submodules/snapraid-btrfs-runner"]
	path = submodules/snapraid-btrfs-runner
	url = https://github.com/fmoledina/snapraid-btrfs-runner
	branch = master
[submodule "submodules/nvidia-patch"]
	path = submodules/nvidia-patch
	url = https://github.com/keylase/nvidia-patch.git
	branch = master
[submodule "submodules/zapret"]
	path = submodules/zapret
	url = https://github.com/bol-van/zapret
	branch = master
