[defaults]
callbacks_enabled = timer, profile_tasks, profile_roles
gathering = smart
interpreter_python = /usr/bin/python3
inventory = inventory
pipelining = True
vars_plugins_enabled = host_group_vars,community.sops.sops
stdout_callback = yaml
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o PreferredAuthentications=publickey
