[Unit]
Description={{ template_var.description }}

[Service]
WorkingDirectory={{ executable_location }}
ExecStart=find ./ -name "*.exe" -exec chmod u+x {} \;
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target
