[Unit]
Description={{ template_var.description }}
Wants=network.target
After=network-online.target
RequiresMountsFor=%h/.local/share/containers/storage %t/containers

[Service]
ExecStart={{ template_var.command }}
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target
