[Unit]
Description=Prune container images
Wants=network.target
After=network-online.target
RequiresMountsFor=%h/.local/share/containers/storage %t/containers

[Service]
ExecStart=podman image prune --force
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target