[Unit]
Description={{ systemd_description }}
Wants=network.target
After=network-online.target
RequiresMountsFor=%h/.local/share/containers/storage %t/containers

[Service]
WorkingDirectory={{ global_container_run_path }}
ExecStart={{ command }}
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target