# server_domain: secret_example.com
# This is the address to reach the host when using podman
caddyfile_host_address: server.lan
# caddyfile_auth_user:
# caddyfile_auth_pass:
# caddyfile_auth_token:
caddyfile_content: "{{ lookup('ansible.builtin.template', 'caddy/Caddyfile.j2') }}"
