[Unit]
Description=Add executable permission for exe file in storage

[Service]
WorkingDirectory={{ executable_location }}
ExecStart=find ./ -name "*.exe" -exec chmod u+x {} \;
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target
