[Unit]
Description=Podman image prune service
Wants=network.target
After=network-online.target
RequiresMountsFor=%h/.local/share/containers/storage %t/containers

[Service]
ExecStart=podman system prune --all --volumes --force
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target
