[Unit]
Description=Daily podman locks prune
Wants=network.target
After=network-online.target
RequiresMountsFor=%h/.local/share/containers/storage %t/containers

[Service]
ExecStart=podman system renumber
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target
