---
pageInfo:
  title: Zephyr Server
  description: Homelab server of Zephyr
  navLinks:
    - title: Home
      path: /
    - title: About
      path: /about
    - title: Source Code
      path: https://github.com/phongngthanh/podman-ansible
appConfig:
  statusCheck: true
  disableWebSearch: true
#  hideComponents:
sections:
  - name: Personal
    items:
      - icon: favicon
        title: Nextcloud
        url: https://nextcloud.{{ server_domain }}
      - icon: favicon
        title: Syncthing
        url: https://syncthing.{{ server_domain }}
      - icon: favicon
        title: Nocodb
        url: https://nocodb.{{ server_domain }}
      - icon: favicon
        title: Gitea
        url: https://gitea.{{ server_domain }}
  - name: Media Consumption
    items:
      - icon: favicon
        title: Jellyfin
        url: https://jellyfin.{{ server_domain }}
      - icon: favicon
        title: Navidrome
        url: https://navidrome.{{ server_domain }}
      - icon: favicon
        title: Calibreweb
        url: https://calibrew.{{ server_domain }}
      - icon: favicon
        title: Kavita
        url: https://kavita.{{ server_domain }}
  - name: Media management
    items:
      - icon: favicon
        title: Radarr
        url: https://radarr.{{ server_domain }}
      - icon: favicon
        title: Bazarr
        url: https://bazarr.{{ server_domain }}
      - icon: favicon
        title: Radarr-HQ
        url: https://radarr-hq.{{ server_domain }}
      - icon: favicon
        title: Bazarr-HQ
        url: https://bazarr-hq.{{ server_domain }}
      - icon: favicon
        title: Pymedusa
        url: https://pymedusa.{{ server_domain }}
      - icon: favicon
        title: Prowlarr
        url: https://prowlarr.{{ server_domain }}
      - icon: favicon
        title: Lidarr
        url: https://lidarr.{{ server_domain }}
      - icon: favicon
        title: Jackett
        url: https://jackett.{{ server_domain }}
      - icon: favicon
        title: Headphones
        url: https://headphones.{{ server_domain }}
      - icon: favicon
        title: Transmission
        url: https://transmission.{{ server_domain }}
  - name: Monitoring
    items:
      - icon: favicon
        title: Netdata
        url: https://netdata.{{ server_domain }}
      - icon: favicon
        title: Librespeed
        url: https://librespeed.{{ server_domain }}
      - icon: favicon
        title: Scrutiny
        url: https://scrutiny.{{ server_domain }}
  - name: Misc
    items:
      - icon: favicon
        title: Privatebin
        url: https://privatebin.{{ server_domain }}
