default_install_hook_types:
  - commit-msg
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v{{ ansible_env.PRECOMMIT_HOOK_VERSION }}
    hooks:
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v{{ ansible_env.PRECOMMIT_CONVENTIONAL_COMMIT }}
    hooks:
      - id: conventional-pre-commit
{% if ansible_repo_state.matched > 0 %}
  - repo: https://github.com/ansible-community/ansible-lint.git
    rev: v{{ ansible_env.ANSIBLE_LINT_VERSION }}
    hooks:
      - id: ansible-lint
{% endif %}
