{# https://github.com/containers/common/blob/main/docs/containers.conf.5.md #}
[containers]
tz="local"
{# Check if user is root, if not then add this sections #}
{% if ansible_user_dir in podman_config_dir_path %}
{% endif %}
