[Build]
ImageTag={{ item.path | basename }}
SetWorkingDirectory=./{{ container_loop_var.key }}/{{ item.path | basename }}
[Unit]
{# This restart the image build when the kube service is restarted, which apply the new image if exists #}
BindsTo={{ container_loop_var.key }}.service
[Install]
WantedBy={{ container_loop_var.key }}.service
