[Kube]
Yaml=./{{ container_service_name }}/deployment.yaml
SetWorkingDirectory=yaml
{% for key,value in container_item.value.quadlet_kube_options | dictsort %}
{{ key }}={{ value }}
{% endfor %}
[Service]
{# Extend Timeout to allow time to pull the image #}
TimeoutStartSec=1800
{% include 'common.j2' %}
