#jinja2:lstrip_blocks: True
[Kube]
{% if not container_loop_var.value.host_network %}
Network=webserver
{% endif %}
{% if container_loop_var.value.userns != "" %}
UserNS={{ container_loop_var.value.userns }}
{% endif %}
Yaml={{ container_quadlet_path }}/{{ container_loop_var.key }}/deployment.yaml
SetWorkingDirectory=yaml
[Install]
WantedBy=default.target
