[Install]
{# Start by default on boot #}
{% if application_item.value.param.become %}
WantedBy=multi-user.target
{% else %}
WantedBy=default.target
{% endif %}
[Unit]
After=network-online.target
{% if application_item.value.param.unit is defined %}
{% for key, value in application_item.value.param.quadlet_unit_options | dictsort %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
