#jinja2:lstrip_blocks: True
[Build]
ImageTag={{ item.path | basename }}
SetWorkingDirectory=./{{ application_name }}/{{ item.path | basename }}
{% if application_item.value.param.quadlet_build_options is defined %}
{% for key,value in application_item.value.param.quadlet_build_options | dictsort %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
{# This restart the image build when the kube service is restarted, which apply the new image if exists #}
{# Needs both BindsTo and Before: https://fedoramagazine.org/systemd-unit-dependencies-and-order/ #}
[Unit]
BindsTo={{ application_name }}.service
Before={{ application_name }}.service
