[Container]
ContainerName=jellyfin
Image=jellyfin
AddDevice=nvidia.com/gpu=all
Volume={{ jellyfin_volume_cache }}:/cache:z
Volume={{ jellyfin_volume_config }}:/config:z
Volume={{ global_media }}:/home
Network=podman-default-kube-network
{% include 'common.j2' %}
