#jinja2:lstrip_blocks: True
[Container]
ContainerName=netdata
Image=netdata
{% if nvidia_installed %}
AddDevice=nvidia.com/gpu=all
{% endif %}
AddCapability=SYS_PTRACE
AddCapability=SYS_ADMIN
PodmanArgs=--pid=host
Volume={{ volumes.config.value }}:/etc/netdata:z
Volume={{ volumes.lib.value }}:/var/lib/netdata
Volume={{ volumes.cache.value }}:/var/cache/netdata
Volume={{ volumes.root.value }}:/host/root:ro
Volume={{ volumes.passwd.value }}:/etc/passwd:ro
Volume={{ volumes.group.value }}:/etc/group:ro
Volume={{ volumes.localtime.value }}:/etc/localtime:ro
Volume={{ volumes.proc.value }}:/host/proc:ro
Volume={{ volumes.sys.value }}:/host/sys:ro
Volume={{ volumes.osrelease.value }}:/host/etc/os-release:ro
Volume={{ volumes.varlog.value }}:/host/var/log:ro
Volume={{ volumes.systemd.value }}:/run/dbus:ro
Network=host
{% include 'common.j2' %}
