#jinja2:lstrip_blocks: True
[Kube]
Yaml=./{{ application_name }}/deployment.yaml
SetWorkingDirectory=yaml
{% if application_item.value.param.quadlet_kube_options is defined %}
{% for key,value in application_item.value.param.quadlet_kube_options | dictsort %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
[Service]
{# Extend Timeout to allow time to pull the image #}
TimeoutStartSec=1800
{% include 'common.j2' %}
