[Unit]
Description=System auto update
Wants=network.target
After=network-online.target

[Service]
WorkingDirectory={{ template_var.systemd_working_directory }}
ExecStart={{ template_var.command }}
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target