[Container]
ContainerName=jellyfin
Image=jellyfin
AddDevice=nvidia.com/gpu=all
SecurityLabelDisable=true
Volume={{ jellyfin_volume_cache }}:/cache:U,z
Volume={{ jellyfin_volume_config }}:/config:U,z
Volume={{ global_media }}:/home
Network=podman-default-kube-network
