systemd_services:
  - name: shutdown
    schedule: "00:00:00"
    become: true
  - name: podman-prune
    schedule: Sat 19:00:00
  - name: podman-renumber
    schedule: "20:00:00"
  - name: add-executable
    schedule: "20:00:00"
  - name: mergerfs-directory
    schedule: "*:00:00"
