[Unit]
Description=Run container service at startup
Wants=network.target
After=network-online.target
RequiresMountsFor=%h/.local/share/containers/storage %t/containers

[Service]
WorkingDirectory=ServiceDirectory
ExecStart=%h/.local/bin/ansible-playbook ServiceDirectory/container.yaml
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target