[Unit]
Description=Run container service at startup
After=podman.socket

[Service]
WorkingDirectory=ServiceDirectory
ExecStart=/usr/bin/ansible-playbook ServiceDirectory/container.yaml
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target