name: Deployment
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/deployment.yaml
      - "!submodules/zapret"
      - ci/**
      - cue/**
      - group_vars/**
      - install.py
      - inventory/**
      - mise*.toml
      - requirements.yaml
      - roles/**
      - secret/**
      - submodules/**
jobs:
  deploy:
    concurrency: deployment
    name: Deploy to server
    runs-on: ubuntu-latest
    env:
      DEBUG_MODE: ${{ vars.DEBUG_MODE }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: true
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7
        with:
          version: latest # TODO: update uv with renovate
      - name: Setup CI dependencies
        run: |
          uv run install.py --profile ci
      - name: Set up WireGuard
        run: |
          sudo apt update && sudo apt install wireguard
          eval $(mise activate --shims)
          sops -d secret/deployment/wg0.sops.ini | sudo tee /etc/wireguard/wg0.conf > /dev/null
          wg-quick up wg0 &> /dev/null
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
      - name: Setup tmate session
        if: env.DEBUG_MODE == 'true'
        uses: mxschmitt/action-tmate@v3
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
      - name: Setup server
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          retry_on: error
          command: ./ci/run.sh
          on_retry_command: ./ci/retry.sh
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
