name: Deployment
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/deployment.yaml
      - ci/**
      - cue/**
      - group_vars/**
      - inventory/**
      - requirements.yaml
      - roles/**
      - secret/**
      - submodules/**
      - "!submodules/zapret"
jobs:
  deploy:
    concurrency: deployment
    name: Deploy to server
    runs-on: ubuntu-latest
    env:
      DEBUG_MODE: ${{ vars.DEBUG_MODE }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          submodules: true
      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        with:
          aqua_version: v2.42.2
      - name: Install aqua software
        run: |
          aqua install
      - name: Set up WireGuard
        run: |
          sudo apt update && sudo apt install wireguard
          sops -d secret/deployment/wg0.sops.ini | sudo tee /etc/wireguard/wg0.conf > /dev/null
          wg-quick up wg0 &> /dev/null
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5
        with:
          python-version: "3.12"
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r ci/requirements/host/requirements.txt
      - name: Run dagger pipeline
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          retry_on: error
          command: ./ci/run.sh
          on_retry_command: ./ci/retry.sh
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
      - name: Setup tmate session
        if: env.DEBUG_MODE == 'true' && failure()
        uses: mxschmitt/action-tmate@v3
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
